In [83]:
import pandas as pd
import random
import numpy as np

In [71]:
#Datos aleatorios extraidos de la web para aportar un set ejemplo y utilización de random
lista = range(0,100)

provincias = ['Álava', 'Albacete','Alicante','Almería', 'Asturias','Ávila','Badajoz','Barcelona','Burgos','Cáceres','Cádiz','Cantabria','Castellón','Ciudad Real','Córdoba','La Coruña','Cuenca','Gerona','Granada','Guadalajara','Guipúzcoa','Huelva','Huesca','Islas Baleares','Jaén','León','Lérida','Lugo','Madrid','Málaga','Murcia','Navarra','Orense','Palencia','Las Palmas','Pontevedra','La Rioja','Salamanca','Segovia','Sevilla','Soria','Tarragona','Santa Cruz de Tenerife','Teruel','Toledo','Valencia','Valladolid','Vizcaya','Zamora','Zaragoza'];

ciudades = ["Andalucía", "Aragón", "Canarias", "Cantabria", "Castilla y León", "Castilla-La Mancha", "Cataluña", "Ceuta", "Comunidad Valenciana", "Comunidad de Madrid", "Extremadura", "Galicia", "Islas Baleares", "La Rioja", "Melilla", "Navarra", "País Vasco", "Principado de Asturias", "Región de Murcia"];

nombres = ["one", "two", "three", "four", "five","six", "seven", "eight", "nine", "ten", "eleven"];

In [72]:
df = pd.DataFrame({'ID_BASE': random.sample(lista,k=10),
                   'NOMBRE': random.sample(nombres,k=10),
                   'PCIA': random.sample(provincias,k=10),
                   'CIUDAD':random.sample(ciudades,k=10),}
                  )
df

   ID_BASE  NOMBRE        PCIA                  CIUDAD
0       74     six        Jaén                   Ceuta
1       95    four     Cáceres                 Navarra
2       57  eleven      Lérida               Andalucía
3       11     two        León    Comunidad Valenciana
4       12   three  Pontevedra                  Aragón
5        3   seven     Córdoba  Principado de Asturias
6       59    nine      Huelva                Cataluña
7       26     ten      Zamora                 Melilla
8       49   eight    Albacete        Región de Murcia
9       19     one     Sevilla         Castilla y León

In [28]:
df = pd.DataFrame(np.random.randn(10, 4), columns=list('ABCD'))
df

          A         B         C         D
0 -1.196814 -0.223476  1.000825  1.215312
1 -0.091135 -1.260692 -0.982175 -0.659053
2 -1.155337 -0.420447  0.149167  1.176386
3  1.138557 -0.664858 -0.117765  2.259283
4 -0.924744 -0.620027 -0.092010 -2.223072
5  0.062836 -0.509912  0.786522 -0.523201
6 -1.000416  0.337583 -0.234827 -0.364806
7 -1.876309 -1.138278  0.085020 -0.814483
8  0.403105 -0.103838  0.590887  0.006675
9  0.490873 -0.482751  1.545616  1.720213