In [1]:
import findspark 
findspark.init('C:\Spark\spark-3.0.0-preview2-bin-hadoop2.7')

In [2]:
from pyspark import SparkContext
try: 
    type(sc)
except NameError:
    sc = SparkContext('local[*]')

In [3]:
sales = [
    (1, 1, '01', '2017', 500), # sera la minima
    (1, 2, '01', '2017', 500),
    (1, 2, '01', '2017', 500),
    (1, 2, '01', '2017', 500),
    (1, 2, '01', '2017', 500),
    (1, 1, '01', '2016', 500),
    (1, 2, '01', '2016', 500),
    (1, 2, '01', '2016', 500),
    (1, 2, '01', '2016', 500),
    (1, 2, '01', '2016', 500),
    (2, 3, '01', '2017', 500),
    (2, 3, '01', '2017', 500),
    (2, 3, '01', '2017', 500),
    (2, 3, '01', '2017', 500),
    (2, 3, '01', '2017', 500),
    (4, 3, '01', '2017', 500),
    (4, 3, '01', '2017', 500),
    (4, 3, '02', '2017', 500),
    (4, 3, '03', '2017', 500),    

]

stores = [
    (1 , 'address 1', -1, -1, '30002', 'Georgia'),
    (2 , 'address 2', -2, -2, '30003', 'Georgia'),
    (3 , 'address 2', -3, -3, '30004', 'Georgia'),
    (4 , 'address 2', -4, -4, '10119', 'New York')    
]

In [4]:
# Obtener la tienda que realizó menor cantidad de ventas en el estado de "Georgia" en todo el año 2017

In [5]:
salesRdd = sc.parallelize(sales)
storesRdd = sc.parallelize(stores)

In [6]:
# filtramos la informacion de 2017 de ventas y realizamos un cambio de clave
salesToJoin = salesRdd.filter(lambda x: x[3] == '2017')\
    .map(lambda x: (x[1], x[4])) # (K,V) K: id_tienda, V: total_ventas_mensuales (mi solucion)
    #.map(lambda x: (x[1], (x[1],x[4]))) # (K,V) K: id_tienda, V: (id_tienda, total_ventas_mensuales) (solucion de catedra)
    #las dos soluiciones sirven igual, se llega a (1,500)

# consideramos solo tiendas de Georgia
storesToJoin = storesRdd.filter(lambda x: x[5] == 'Georgia')\
    .map(lambda x: (x[0], x[0]))

In [7]:
join = salesToJoin.join(storesToJoin)
join.collect()

[(1, (500, 1)),
 (2, (500, 2)),
 (2, (500, 2)),
 (2, (500, 2)),
 (2, (500, 2)),
 (3, (500, 3)),
 (3, (500, 3)),
 (3, (500, 3)),
 (3, (500, 3)),
 (3, (500, 3)),
 (3, (500, 3)),
 (3, (500, 3)),
 (3, (500, 3)),
 (3, (500, 3))]

In [8]:
# realizamos el join de ambos data frames
# simplificamos el formato para evitar los reduce complejos
# sumarizamos cantidad de ventas por tienda
# buscamos el minimo con reduce
salesToJoin.join(storesToJoin)\
    .map(lambda x: (x[0], x[1][0]))\
    .reduceByKey(lambda x, y: x+y)\
    .reduce(lambda x, y: x if x[1] < y[1] else y)

(1, 500)

In [ ]:
## PARCIAL 2019 1C - 1°

In [72]:
import pandas as pd
import random
import numpy as np
import random
import time
import numpy as np
from datetime import datetime

In [117]:
#Datos aleatorios extraidos de la web para aportar un set ejemplo y utilización de random

provincias = ['Álava', 'Albacete','Alicante','Almería', 'Asturias','Ávila','Badajoz','Barcelona','Cordoba','Cordoba','Cordoba','Cordoba','Cordoba','Cordoba','Cordoba','Cordoba','Cordoba','Cordoba','Cordoba','Cordoba','Cordoba']

ciudades = ["Andalucía", "Aragón", "Canarias", "Cantabria", "Castilla y León", "Castilla-La Mancha", "Cataluña", "Ceuta", "Comunidad Valenciana", "Comunidad de Madrid", "Extremadura", "Galicia", "Islas Baleares", "La Rioja", "Melilla", "Navarra", "País Vasco", "Principado de Asturias", "Región de Murcia"]

nombres_bases = ["one", "two", "three", "four", "five","six", "seven", "eight", "nine", "ten", "eleven"]

direcciones = ["S","E","O","N","SO","SE","NE","NO","h","m","y","x"]

import random
import time
import numpy as np

def str_time_prop(start, end, format, prop):
    """Get a time at a proportion of a range of two formatted times.

    start and end should be strings specifying times formated in the
    given format (strftime-style), giving an interval [start, end].
    prop specifies how a proportion of the interval to be taken after
    start.  The returned time will be in the specified format.
    """

    stime = time.mktime(time.strptime(start, format))
    etime = time.mktime(time.strptime(end, format))

    ptime = stime + prop * (etime - stime)

    return time.strftime(format, time.localtime(ptime))


def random_date(start, end, prop):
    return str_time_prop(start, end, '%m/%d/%Y', prop)
dates = []

for i in range(20):
    #dates = np.append(dates,...)
    dates.append( datetime.strptime(random_date("1/1/2016", "1/1/2020", random.random()), '%m/%d/%Y'))

dates

[datetime.datetime(2017, 1, 5, 0, 0),
 datetime.datetime(2019, 12, 20, 0, 0),
 datetime.datetime(2018, 4, 2, 0, 0),
 datetime.datetime(2019, 2, 10, 0, 0),
 datetime.datetime(2016, 11, 27, 0, 0),
 datetime.datetime(2017, 10, 14, 0, 0),
 datetime.datetime(2016, 11, 25, 0, 0),
 datetime.datetime(2019, 2, 26, 0, 0),
 datetime.datetime(2017, 11, 10, 0, 0),
 datetime.datetime(2019, 11, 4, 0, 0),
 datetime.datetime(2018, 8, 13, 0, 0),
 datetime.datetime(2019, 3, 5, 0, 0),
 datetime.datetime(2018, 9, 22, 0, 0),
 datetime.datetime(2018, 11, 2, 0, 0),
 datetime.datetime(2019, 2, 2, 0, 0),
 datetime.datetime(2018, 12, 2, 0, 0),
 datetime.datetime(2016, 12, 3, 0, 0),
 datetime.datetime(2019, 6, 22, 0, 0),
 datetime.datetime(2016, 4, 19, 0, 0),
 datetime.datetime(2018, 9, 24, 0, 0)]

In [118]:
df = pd.DataFrame({'ID_BASE': random.sample(range(0,11),k=10),
                   'NOMBRE': random.sample(nombres_bases,k=10),
                   'PCIA': random.sample(provincias,k=10),
                   'CIUDAD':random.sample(ciudades,k=10),}
                  )
df

   ID_BASE  NOMBRE       PCIA                CIUDAD
0        6    nine    Cordoba  Comunidad Valenciana
1        1   three    Cordoba                Aragón
2        2     six  Barcelona              Cataluña
3        5   eight    Cordoba       Castilla y León
4        3  eleven    Badajoz                 Ceuta
5        9     one    Cordoba    Castilla-La Mancha
6        7    four   Asturias               Navarra
7        4    five   Albacete        Islas Baleares
8        8     two    Cordoba            País Vasco
9        0     ten    Cordoba              Canarias

In [119]:

df2 = pd.DataFrame({'TIMESTAMP': random.sample(dates,k=10),
                   'ID_BASE': random.sample(range(0,11),k=10),
                   'TEMPERATURA': random.sample(range(0,40),k=10),
                   'HUMEDAD':random.sample(range(0,100),k=10),
                   'PRESION':random.sample(range(0,100),k=10),
                   'DIRECCION VIENTO':random.sample(direcciones,k=10),
                   'VELOCIDAD VIENTO':random.sample(range(0,100),k=10),}
                  )
df2

,TIMESTAMP,ID_BASE,TEMPERATURA,HUMEDAD,PRESION,DIRECCION VIENTO,VELOCIDAD VIENTO
0,2016-12-03,0,17,84,3,h,5
1,2018-09-24,3,23,47,12,N,21
2,2019-02-10,2,24,41,69,NE,40
3,2016-04-19,9,0,60,73,m,1
4,2019-03-05,4,32,15,86,SE,94
5,2018-09-22,7,12,61,54,NO,99
6,2017-11-10,5,5,26,5,O,97
7,2019-12-20,10,18,36,94,y,59
8,2019-11-04,1,38,62,87,x,23
9,2018-12-02,8,34,2,83,S,2

In [120]:
#MODIFICACION DE LOS DATOS DE LA COLUMNDA  TIMESTAP A DATE CORRECTAMENTE
df2["TIMESTAMP"] = pd.to_datetime(df2["TIMESTAMP"])

In [121]:
# Este desarrollo a continuacion no es el correcto para el manejo de pandas, ocrurre lo siguiente:
rdm = sc.parallelize(df)
rdm2 = sc.parallelize(df2)
rdm.collect()

['ID_BASE', 'NOMBRE', 'PCIA', 'CIUDAD']

In [122]:
values = rdm.map(lambda x: (x[0],x))
values.collect()

[('I', 'ID_BASE'), ('N', 'NOMBRE'), ('P', 'PCIA'), ('C', 'CIUDAD')]

In [123]:
values.take(2)

[('I', 'ID_BASE'), ('N', 'NOMBRE')]

In [124]:
# SOLUCION CORRECTA:
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
spDF = sqlContext.createDataFrame(df)
spDF2 = sqlContext.createDataFrame(df2)

In [125]:
# SOLUCION PEDIDA:
#a.Map por ID_BASE en ambos RDD.
#b.Filter en RDD bases por PCIA = Buenos Aires.
#c.Filter en RDD mediciones por TIMESTAMP entre 01-12-2017 y 31-12-2018.
#d.Inner join entre ambos RDD.
#e.MAP por ID_BASE, YEAR(TIMESTAMP), MONTH(TIMESTAMP).
#f.ReduceByKey para calcular suma y contador.
#g.MAP para cambiar la clave a ID_BASE y aprovechar para hacer el calculo del promedio. En los values debequedar el promedio, el nombre de la base y el mes/año.
#h.GroupByKey
#i.Filter para comparar que la tasa de un mes a otro haya variado en 30%.
#j.Map para quedarse con ID_BASE y nombre

In [126]:
spDF.show()

+-------+------+---------+--------------------+
|ID_BASE|NOMBRE|     PCIA|              CIUDAD|
+-------+------+---------+--------------------+
|      6|  nine|  Cordoba|Comunidad Valenciana|
|      1| three|  Cordoba|              Aragón|
|      2|   six|Barcelona|            Cataluña|
|      5| eight|  Cordoba|     Castilla y León|
|      3|eleven|  Badajoz|               Ceuta|
|      9|   one|  Cordoba|  Castilla-La Mancha|
|      7|  four| Asturias|             Navarra|
|      4|  five| Albacete|      Islas Baleares|
|      8|   two|  Cordoba|          País Vasco|
|      0|   ten|  Cordoba|            Canarias|
+-------+------+---------+--------------------+

In [127]:
spDF2.show()

+-------------------+-------+-----------+-------+-------+----------------+----------------+
|          TIMESTAMP|ID_BASE|TEMPERATURA|HUMEDAD|PRESION|DIRECCION VIENTO|VELOCIDAD VIENTO|
+-------------------+-------+-----------+-------+-------+----------------+----------------+
|2016-12-03 00:00:00|      0|         17|     84|      3|               h|               5|
|2018-09-24 00:00:00|      3|         23|     47|     12|               N|              21|
|2019-02-10 00:00:00|      2|         24|     41|     69|              NE|              40|
|2016-04-19 00:00:00|      9|          0|     60|     73|               m|               1|
|2019-03-05 00:00:00|      4|         32|     15|     86|              SE|              94|
|2018-09-22 00:00:00|      7|         12|     61|     54|              NO|              99|
|2017-11-10 00:00:00|      5|          5|     26|      5|               O|              97|
|2019-12-20 00:00:00|     10|         18|     36|     94|               y|              59|
|2019-11-04 00:00:00|      1|         38|     62|     87|               x|              23|
|2018-12-02 00:00:00|      8|         34|      2|     83|               S|               2|
+-------------------+-------+-----------+-------+-------+----------------+----------------+

In [151]:
rdd = spDF.rdd
rdd2 = spDF2.rdd

r = rdd.filter(lambda x: x[2] == 'Cordoba')\
        .map(lambda x:(x[0], x))

r2 = rdd2.filter(lambda x:x[0]<datetime(2017,12,31) and x[0]>datetime(2016,12,1))\
        .map(lambda x:(x[1],x))

In [146]:
r.collect()

[(6,
  Row(ID_BASE=6, NOMBRE='nine', PCIA='Cordoba', CIUDAD='Comunidad Valenciana')),
 (1, Row(ID_BASE=1, NOMBRE='three', PCIA='Cordoba', CIUDAD='Aragón')),
 (5, Row(ID_BASE=5, NOMBRE='eight', PCIA='Cordoba', CIUDAD='Castilla y León')),
 (9,
  Row(ID_BASE=9, NOMBRE='one', PCIA='Cordoba', CIUDAD='Castilla-La Mancha')),
 (8, Row(ID_BASE=8, NOMBRE='two', PCIA='Cordoba', CIUDAD='País Vasco')),
 (0, Row(ID_BASE=0, NOMBRE='ten', PCIA='Cordoba', CIUDAD='Canarias'))]

In [152]:
r2.collect()

[(0,
  Row(TIMESTAMP=datetime.datetime(2016, 12, 3, 0, 0), ID_BASE=0, TEMPERATURA=17, HUMEDAD=84, PRESION=3, DIRECCION VIENTO='h', VELOCIDAD VIENTO=5)),
 (5,
  Row(TIMESTAMP=datetime.datetime(2017, 11, 10, 0, 0), ID_BASE=5, TEMPERATURA=5, HUMEDAD=26, PRESION=5, DIRECCION VIENTO='O', VELOCIDAD VIENTO=97))]

In [155]:
result = r.join(r2)
result.collect()

[(0,
  (Row(ID_BASE=0, NOMBRE='ten', PCIA='Cordoba', CIUDAD='Canarias'),
   Row(TIMESTAMP=datetime.datetime(2016, 12, 3, 0, 0), ID_BASE=0, TEMPERATURA=17, HUMEDAD=84, PRESION=3, DIRECCION VIENTO='h', VELOCIDAD VIENTO=5))),
 (5,
  (Row(ID_BASE=5, NOMBRE='eight', PCIA='Cordoba', CIUDAD='Castilla y León'),
   Row(TIMESTAMP=datetime.datetime(2017, 11, 10, 0, 0), ID_BASE=5, TEMPERATURA=5, HUMEDAD=26, PRESION=5, DIRECCION VIENTO='O', VELOCIDAD VIENTO=97)))]

In [165]:
result = r.join(r2)\
            .map(lambda x: (x[0], (x[1][1][0].year, x[1][1][0].month)))

In [166]:
result.collect()

[(0, (2016, 12)), (5, (2017, 11))]